<div class='card'>
    <h3><%=post.title%></h3>
    <p><%=post.text%></p>
    <div class='like-comment'>
    <div>Comments: <%=post.comments_counter || 0%></div>
    <div>Likes: <%=post.likes_counter || 0%></div>
  </div>
</div>