<%= link_to user_path(user), class:'user-link' do %>
<div class='container'>
<div><%= image_tag (user.photo), alt: 'avatar', class:'user-img' if user.photo%></div>
<div class="username">
<h2><%=user.name%></h2>
<p class="number-of-post">Number of Posts:<%=user.posts_counter || 0 %></p>
</div>
</div>
<%end%>
