<%=render partial:'shared/user', locals: {user: @current_user}%>
<%=render partial: 'shared/post', collection: @posts%>
<hr>
<%@posts.each do |comment|%>
<h4>Users comment on this post</h4>
<%=render partial: 'shared/comment', collection: comment.recent_comments%>
<%end%><br><br>
<%= button_to 'Pagination', users_path, class: 'btn-all-post button' %>
