<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%@posts.each do |post|%>
<div class='card'>
    <h3><%=post.title%></h3>
    <p><%=post.text%></p>
    <div class='like-comment'>
    <div>Comments: <%=post.comments_counter || 0%></div>
    <div>Likes: <%=post.likes_counter || 0%></div>
  </div>
  </div>
<%end%>