/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.root-container {
    width: 80%;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.container {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
    min-height: 60px;
}

.user-link {
    color: #2E2F30;
    text-decoration-line: none;
}

.number-of-post {
    align-self: flex-end;
}

.card {
    padding: 5px;
    width: 100%;
    margin-top: 30px;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 black;
}
.list-of-posts {
    margin-bottom: 20px;
}

.like-comment {
    display: flex;
    column-gap: 30px;
    margin-top: 10px;
   justify-content: flex-end;
}

.comment {
    margin-top: 20px;
}

.user-img {
    width: 50px;
    height: 50px;
}

.username {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 black;
}